@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.custom-input {
    background-color: rgba(
        26,
        26,
        26,
        0.5
    ) !important; /* Your custom purple color */
    color: white; /* Text color */
}

.custom-input:focus {
    background-color: rgba(
        26,
        26,
        26,
        0.5
    ) !important; /* Maintain the same background color on focus */
    border-color: transparent; /* Optional: remove the border */
}

.custom-input-light {
    background-color: rgb(190, 170, 229);
    color: black;
}

.custom-input-light:focus {
    background-color: rgb(
        190,
        170,
        229
    ) !important; /* Maintain the same background color on focus */
    border-color: transparent; /* Optional: remove the border */
}

.custom-search-btn {
    background-color: rgba(
        26,
        26,
        26,
        0.5
    ) !important; /* Your custom purple color */
    color: white; /* Text color */
}

.custom-search-btn-light {
    background-color: rgb(
        101,
        60,
        169
    ) !important; /* Your custom purple color */
    color: white; /* Text color */
}

.cloud-size-small-view {
    /* clamp(min, preferred, max) allows you to specify a value that adapts to screen sizes within the defined range. */
    /* the element won’t go left beyond 70% of its container */
    /* 80vw is the preferred size, aligning the element based on the viewport width */
    /* restricting the element to not exceed 80% of the container’s width */
    left: clamp(70%, 80vw, 80%); /* Responsive left position */
}

.general-text {
    font-size: 14px;
}

.large-screen-text {
    font-size: 12px;
}

.degree-text {
    font-size: 54px;
}

.small-text {
    font-size: 10px;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-grey {
    color: rgb(116, 116, 116);
}

.color-light-purple {
    color: rgb(101, 60, 169);
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    20%,
    60% {
        transform: translateX(-5px);
    }
    40%,
    80% {
        transform: translateX(5px);
    }
}

.shake-animation {
    animation: shake 0.3s ease;
}

@media (max-width: 510px) {
    .cloud-size-small-view {
        left: clamp(72%, 78vw, 80%); /* Adjust for smaller screens */
    }
}

@media (max-width: 400px) {
    .cloud-size-small-view {
        left: clamp(78%, 76vw, 78%);
    }
}
